<div class="panel panel-default">
  <div class="panel-heading">

    <span class="glyphicon glyphicon-{{myObj.icon}} icon-left"> </span>
    <span class="panel-headername"> {{myObj.title}} </span>
    <span class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#{{myObj.name}}">
		<span class="glyphicon glyphicon-plus icon-right" ng-show="showplus" ng-click="Signtoggle()"> </span>
    <span class="glyphicon glyphicon-minus icon-right" ng-show="showminus" ng-click="Signtoggle()"> </span>
    </a>
    </span>
  </div>
  <div id="{{myObj.name}}" class="panel-collapse collapse in">
    <div class="panel-body">
      <div>
        <span class="panel-common">
        <img class="panel-common-image" src="images/{{myObj.name}}.jpg"> 
    </span>
        <span>
        <h4> {{myObj.name}} </h4>
         {{myObj.content}}
    <span>
    <div>    
        <a href="#" class="btn btn-bottom"> {{myObj.buttonName}} </a> 
    </div>
</div>
    </div>
  </div>

</div>